{{- /* Extract date from file path: content/posts/YYYYMM/DD-title.md -> YYYY-MM-DD */ -}}
{{- if and .File .File.Path -}}
  {{- $path := .File.Path -}}
  {{- $segments := split $path "/" -}}
  {{- if ge (len $segments) 3 -}}
    {{- $dir := index $segments 1 -}}  {{/* 202411 */}}
    {{- $file := index $segments 2 -}} {{/* 01-title.md */}}
    {{- if and $dir $file (ge (len $dir) 6) (ge (len $file) 2) -}}
      {{- $day := substr $file 0 2 -}}   {{/* 01 */}}
      {{- $year := substr $dir 0 4 -}}   {{/* 2024 */}}
      {{- $month := substr $dir 4 2 -}}  {{/* 11 */}}
      {{- printf "%s-%s-%s" $year $month $day -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
